    @font-face {
        font-family: museosans;
        font-weight: 900;
        src: url(https://font.static.useinsider.com/coraltravel/museosanscyrl-900-webfont.ttf);
    }
    @font-face {
        font-family: museosans;
        font-weight: 700;
        src: url(https://font.static.useinsider.com/coraltravel/museosanscyrl-700-webfont.ttf);
    }
    @font-face {
        font-family: museosans;
        font-weight: 400;
        src: url(https://font.static.useinsider.com/coraltravel/museosanscyrl-500-webfont.ttf);
    }
    @font-face {
        font-family: museosans;
        font-weight: 300;
        src: url(https://font.static.useinsider.com/coraltravel/museosanscyrl-300-webfont.ttf);
    }
    :root {
        --coral-main-yellow: #f0ab00;
        --coral-main-yellow-accent: #e27300;
        --coral-main-blue: #0093d0;
        --coral-main-blue-accent: #0067b5;
        --coral-ramp-bg: linear-gradient(45.62deg, #fb7099 0%, #f0ab13 100%);
        --coral-hero-title: #033870;
        --coral-common-black: #000;
        --coral-common-white: #fff;
        --coral-grey: #777;
        --coral-grey-accent: #777;
        --coral-page-bg: #eaf3fb;
        --coral-href: #1ebdff;
        --coral-green-accent: #8acb00;
        --coral-green-lite: #d0ea99;
        --coral-yellow-lite: #efd48f;
        --coral-red-error: #f33;
        --coral-red-warn: #ffdcdc;
        --coral-button-villas-and-suites: #b6985b;
    }
    body .contentLayout-BaseContainer .notcritical {
        padding: 0;
        overflow: hidden;
    }
    body .contentLayout-BaseContainer .notcritical > .container {
        margin: 0 auto !important;
        padding: 0 !important;
    }
    body .contentLayout-BaseContainer .notcritical > .container > .row:nth-child(1):nth-last-child(3),
    body .contentLayout-BaseContainer .notcritical > .container > .row:nth-child(3):nth-last-child(1),
    body .contentLayout-BaseContainer .notcritical > .container .rightcol > h1 {
        display: none;
    }
    .rur:not(:empty):after {
        content: " ₽ ";
    }
    .flex-center {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .hero.hotel-select {
        background-color: white;
    }
    @media screen and (max-width: 768px) {
        .hidden-on-mobile {
            display: none !important;
        }
    }
    @media screen and (min-width: 769px) {
        .hidden-on-desktop {
            display: none !important;
        }
    }
    body.underbrow .contentLayout-BaseContainer {
        position: relative;
    }
    body.underbrow .contentLayout-BaseContainer .subpage-search-bg {
        position: absolute;
    }
    @media screen and (max-width: 1006px) {
        body.underbrow .contentLayout-BaseContainer .subpage-search-bg {
            position: relative;
        }
    }
    body.underbrow .contentLayout-BaseContainer .subpage-search-bg > .bcrumb,
    body.underbrow .contentLayout-BaseContainer .subpage-search-bg > .background {
        display: none !important;
    }
    .widgetcontainer.hero {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        display: flex;
    }
    body:not(.underbrow) section.hero:first-of-type {
        margin-top: 2.5em;
    }
    section,
    section * {
        box-sizing: border-box;
    }
    section.hero {
        width: 100vw;
        max-width: 1920px;
        position: relative;
        overflow: hidden;
    }
    section.hero > article {
        max-width: 1370px;
        margin: auto;
        font-size: 20px;
    }
    @media screen and (max-width: 1439px) {
        section.hero > article {
            font-size: 16.6644px;
        }
    }
    @media screen and (max-width: 1199px) {
        section.hero > article {
            font-size: 1.38985vw;
        }
    }
    @media screen and (max-width: 768px) {
        section.hero > article {
            font-size: 3.33333vw;
        }
    }
    @media screen and (max-width: 1439px) {
        section.hero > article {
            max-width: 1130px;
        }
    }
    @media screen and (max-width: 1199px) {
        section.hero > article {
            max-width: 100%;
        }
    }
    section.hero > article > .contenu {
        flex-direction: column;
        padding: 0 15px;
        display: flex;
    }
    section.hero > article > .contenu > * {
        max-width: 100%;
    }
    @media screen and (max-width: 1439px) {
        section.hero > article > .contenu {
            padding: 0;
        }
    }
    @media screen and (max-width: 1199px) {
        section.hero > article > .contenu {
            padding: 0 1.5em;
        }
    }
    section.hero > article h1,
    section.hero > article h2,
    section.hero > article h3,
    section.hero > article h4,
    section.hero > article h5,
    section.hero > article .h1,
    section.hero > article .h2,
    section.hero > article .h3,
    section.hero > article .h4,
    section.hero > article .h5 {
        color: inherit;
        margin: 0;
        line-height: 1.1;
    }
    section.hero > article h1,
    section.hero > article .h1 {
        font-size: 2.8em;
    }
    section.hero > article h2,
    section.hero > article .h2 {
        font-size: 2em;
    }
    section.hero > article h3,
    section.hero > article .h3 {
        font-size: 1.6em;
    }
    section.hero > article h4,
    section.hero > article .h4 {
        font-size: 1.2em;
    }
    section.hero > article h5,
    section.hero > article .h5 {
        font-size: 1em;
    }
    section.hero > article p {
        margin: 0;
    }
    section.hero > article ul {
        padding: initial;
    }
    section.hero > article ul li:before,
    section.hero > article ul li:after {
        position: initial;
        content: initial;
        display: initial;
    }
    section.hero .vimeo-video-box {
        pointer-events: none;
    }
    section.hero .vimeo-video-box .vimeo-player,
    section.hero .vimeo-video-box [data-vimeo-vid] {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 2s;
        position: absolute;
        top: 0;
        left: 0;
    }
    section.hero .vimeo-video-box .vimeo-player.playback,
    section.hero .vimeo-video-box [data-vimeo-vid].playback {
        opacity: 1;
    }
    section.hero .vimeo-video-box .vimeo-player iframe,
    section.hero .vimeo-video-box [data-vimeo-vid] iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    @media screen and (max-width: 1199px) {
        section.underbrow {
            margin-top: -2px;
        }
    }
    @media screen and (max-width: 1006px) {
        section.underbrow {
            margin-top: 0;
        }
    }
    section.underbrow > article > .contenu {
        justify-content: center;
        padding-bottom: 2vw;
        padding-top: 120px !important;
    }
    section.underbrow > article > .contenu > :nth-child(n + 2) {
        margin-top: 2vw;
    }
    @media screen and (max-width: 1006px) {
        section.underbrow > article > .contenu {
            padding-top: unset;
        }
    }
    section:not(.underbrow) > article > .contenu {
        align-items: center;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    section:not(.underbrow) > article > .contenu > h1,
    section:not(.underbrow) > article > .contenu > .h1,
    section:not(.underbrow) > article > .contenu > h2,
    section:not(.underbrow) > article > .contenu > .h2,
    section:not(.underbrow) > article > .contenu > h3,
    section:not(.underbrow) > article > .contenu > .h3,
    section:not(.underbrow) > article > .contenu > h4,
    section:not(.underbrow) > article > .contenu > .h4,
    section:not(.underbrow) > article > .contenu > h5,
    section:not(.underbrow) > article > .contenu > .h5,
    section:not(.underbrow) > article > .contenu > p {
        text-align: center;
        max-width: 75%;
    }
    @media screen and (max-width: 768px) {
        section:not(.underbrow) > article > .contenu > h1,
        section:not(.underbrow) > article > .contenu > .h1,
        section:not(.underbrow) > article > .contenu > h2,
        section:not(.underbrow) > article > .contenu > .h2,
        section:not(.underbrow) > article > .contenu > h3,
        section:not(.underbrow) > article > .contenu > .h3,
        section:not(.underbrow) > article > .contenu > h4,
        section:not(.underbrow) > article > .contenu > .h4,
        section:not(.underbrow) > article > .contenu > h5,
        section:not(.underbrow) > article > .contenu > .h5,
        section:not(.underbrow) > article > .contenu > p {
            max-width: none;
        }
    }
    section:not(.underbrow) > article > .contenu > :nth-child(n + 2) {
        margin-top: 2.5%;
    }
    .flickity-enabled {
        outline: none;
    }
    section.hero > article {
        font-family: museosans;
        font-weight: 300;
    }
    section.hero > article h1,
    section.hero > article h2,
    section.hero > article h3,
    section.hero > article h4,
    section.hero > article h5,
    section.hero > article strong,
    section.hero > article b,
    section.hero > article p.strong {
        font-weight: 700;
    }
    section.hero > article :not(ymaps) > a {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-decoration: underline;
    }
    section.hero > article .actions > button,
    section.hero > article .actions > a {
        font-family: inherit;
        font-weight: 500;
        line-height: inherit;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 2.4em;
        cursor: pointer;
        background: var(--coral-button-villas-and-suites);
        border: 0;
        border-radius: 0.5em;
        justify-content: center;
        align-items: center;
        padding: 0 1.5em;
        text-decoration: none;
        transition: background 0.5s, color 0.5s;
        display: inline-flex;
        font-size: inherit !important;
        color: #fff !important;
        outline: none !important;
    }
    section.hero > article .actions > button:active,
    section.hero > article .actions > a:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    section.hero > article .actions > button:hover,
    section.hero > article .actions > a:hover {
        background: #e27300;
    }
    section.hero > article .actions > button.hollow,
    section.hero > article .actions > a.hollow {
        background: 0 0;
        border: 2px solid;
        color: #000 !important;
    }
    section.hero > article .actions > button.hollow:hover,
    section.hero > article .actions > a.hollow:hover {
        background: 0 0;
    }
    section.hero > article .actions > button.with-down-arrow:after,
    section.hero > article .actions > a.with-down-arrow:after {
        content: "";
        width: 0.75em;
        height: 0.75em;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxOCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3IDFMOC41NjM2NCA5TDEgMSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==)
            50% / contain no-repeat;
        margin-left: 1em;
    }
    section.hero > article .actions > button.with-right-arrow:after,
    section.hero > article .actions > a.with-right-arrow:after {
        content: "";
        width: 0.75em;
        height: 0.75em;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxMSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMS40MjA0MUw5IDkuODU2NzdMMSAxNy40MjA0IiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K)
            50% / contain no-repeat;
        margin-left: 1em;
    }
    @font-face {
        font-family: Glyphter;
        src: url(data:font/woff;base64,d09GRgABAAAAAAPIAAoAAAAABfwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAAA9AAAAD4AAABWVp5jHGNtYXAAAAE0AAAAPAAAAUoBZgGNZ2x5ZgAAAXAAAACEAAAAhO4%2FQfVoZWFkAAAB9AAAADEAAAA2I2cN4WhoZWEAAAIoAAAAHAAAACQIZAP9aG10eAAAAkQAAAAIAAAACAgAAABsb2NhAAACTAAAAAYAAAAGAEIAAG1heHAAAAJUAAAAHgAAACABDQAzbmFtZQAAAnQAAAE7AAACbdWMZSRwb3N0AAADsAAAABUAAAApARAAAHicY2BkYWCcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGBwYtBi0WEDcGBaIMCOIAACUJwduAAB4nGNgYGBmgGAZBkYGEHAB8hjBfBYGDSDNBqQZGZiALK3%2F%2F8EqwPT%2F61D1QMDIxkACYCSsZAgCAJmrBvAAAf%2F9AAAEAwPwACYAAAEWHwEeAgYPARMWDgIvAQcGLgI3EycuAT4BNyUTPgEyFhcTMAK0EnqLERsLCAzKLwMNHSMQ%2BfkQIx0NAy%2FKDAgLGxEBFn0IHiQeCHwCzQMSFAMWIiIMxv7lEiAVAgiEhAgCFCESARvGDCIiFgMpAQAQEhIQ%2FwB4nGNgZGBgAGLGJf7d8fw2Xxm4WRhA4IFKShWM%2Fv%2BXgYGFmfkDkMvBwAQSBQAQdQn0AAAAeJxjYGRgYGEAghgQ%2Bf8XCxsDIwMqYAIANiQCbAQAAAAEAAAAAAAAAABCAAB4nGNgZGBgYGJQZwDRIBYDAxcQMjD8B%2FMZAAxmAUEAAHicdY9LTsMwEIZ%2F9wW0EqqoYIfkBWIBKH2IVTfsmn0X3aet04fSOHLcSj0A5%2BEInIAj0BtwB37SAaFSYnn8zTeTcQLgAjso7J9L7j0rnDLbcwknuBYu098IV8gPwlU08Chco38SruMeoXADLThOUJUzZnd4FlZo4kW4hHO8Cpfp34Qr5HfhKq7wIVxDU5WF6xiplnADt2oRmtS4yJupHm91mGyzuTfu%2Bxya2TqJ3KEeGZcvbKq7Qeen9HtMvpn1vI917OxKD2zqTZJYnTm7NBMfzL3P%2Bu12LD6Y2BV%2F3yDldojgeU6hMcaWMUTCM8O88O5PPmScYU0bHake5qMi5ljA8j6NLgJ0jrz139fk2PC2Hq1HzDxmj8WKNCgmfnUnXJYmK2pLmgl9UEz3tH20ueKD%2FoBdnPQJNGNvpAB4nGNgYoAALgbsACjPCFIDAAHWABIAAAA%3D)
            format("woff");
        font-weight: 400;
        font-style: normal;
    }
    section.hero {
        background: #f1f7fb;
    }
    section.hero.kv {
        color: #fff;
        background: url(https://cdn.coral.ru/content/cms/russia/villas-and-suites/main-kv-desktop.jpg) 50% / cover no-repeat;
    }
    @media screen and (max-width: 768px) {
        section.hero.kv {
            background: url(https://cdn.coral.ru/content/cms/russia/villas-and-suites/main-kv-mobile.jpg) 50% / cover no-repeat;
        }
    }
    section.hero.kv article {
        position: relative;
    }
    section.hero.kv article:before {
        content: "";
        padding-top: 59.781%;
        display: block;
    }
    section.hero.kv article > * {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    @media screen and (max-width: 768px) {
        section.hero.kv article {
            position: relative;
        }
        section.hero.kv article:before {
            content: "";
            padding-top: 136.111%;
            display: block;
        }
        section.hero.kv article > * {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    section.hero.kv .vimeo-video-box {
        width: 1920px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    section.hero.kv .vimeo-video-box:before {
        content: "";
        padding-top: 42.6563%;
        display: block;
    }
    section.hero.kv .vimeo-video-box > * {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    @media screen and (max-width: 1439px) {
        section.hero.kv .vimeo-video-box {
            width: 1583.65px;
        }
    }
    @media screen and (max-width: 1199px) {
        section.hero.kv .vimeo-video-box {
            width: 140.146vw;
        }
    }
    @media screen and (max-width: 768px) {
        section.hero.kv .vimeo-video-box {
            width: 100vw;
            position: absolute;
        }
        section.hero.kv .vimeo-video-box:before {
            content: "";
            padding-top: 136.111%;
            display: block;
        }
        section.hero.kv .vimeo-video-box > * {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    section.hero.kv .contenu {
        max-width: 50%;
        padding-bottom: 25%;
    }
    @media screen and (max-width: 768px) {
        section.hero.kv .contenu {
            max-width: none;
            text-align: center;
            justify-content: flex-start;
            padding: 10% 1.5em !important;
        }
        section.hero.kv .contenu > :nth-child(n + 2) {
            margin-top: 10%;
        }
    }
    section.hero.country-select nav {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
    }
    section.hero.country-select nav .flickity-viewport {
        width: 100%;
        order: 1;
    }
    section.hero.country-select nav .flickity-page-dots {
        width: 100%;
        order: 2;
        justify-content: center;
        margin: 0;
        display: flex;
        padding: 0 !important;
    }
    section.hero.country-select nav .flickity-page-dots .dot {
        width: 1.5em;
        height: 4px;
        opacity: 0.4;
        background: #f0ab00;
        margin: 1em 0.25em;
        list-style: none;
        transition: opacity 0.5s;
    }
    section.hero.country-select nav .flickity-page-dots .dot.is-selected {
        opacity: 1;
    }
    section.hero.country-select nav .flickity-prev-next-button {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 2.5em;
        height: 2.5em;
        -webkit-filter: drop-shadow(4px 4px 32px rgba(0, 0, 0, 0.15));
        -webkit-filter: drop-shadow(4px 4px 32px rgba(0, 0, 0, 0.15));
        filter: drop-shadow(4px 4px 32px rgba(0, 0, 0, 0.15));
        cursor: pointer;
        background: #fff;
        border: 0;
        border-radius: 50%;
        order: 3;
        justify-content: center;
        align-items: center;
        margin: 0.5em;
        padding: 0.62em;
        transition: opacity 0.5s, -webkit-filter 0.5s, -webkit-filter 0.5s, filter 0.5s;
        display: inline-flex;
    }
    section.hero.country-select nav .flickity-prev-next-button:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    @media screen and (max-width: 576px) {
        section.hero.country-select nav .flickity-prev-next-button {
            display: none;
        }
    }
    section.hero.country-select nav .flickity-prev-next-button[disabled] {
        pointer-events: none;
        opacity: 0.5;
        -webkit-filter: none;
        -webkit-filter: none;
        filter: none;
    }
    section.hero.country-select nav .flickity-prev-next-button > svg {
        opacity: 0.5;
    }
    #learn-more {
        z-index: 10000;
        width: 100vw;
        height: 100vh;
        font-family: museosans;
        font-weight: 300;
        position: fixed;
        top: 0;
        left: 0;
        display: none !important;
    }
    #learn-more,
    #learn-more * {
        box-sizing: border-box;
    }
    #learn-more:target {
        display: flex !important;
    }
    #learn-more > a {
        z-index: -1;
        width: 100%;
        height: 100%;
        cursor: default;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
    }
    #learn-more .popin-container {
        width: 42.2222em;
        max-width: 520px;
        max-height: 100vh;
        background: #eaf3fb;
        border-radius: 1em;
        margin: auto;
        font-size: 2.36842vmin;
        position: relative;
        overflow: hidden;
        box-shadow: 0 2px 32px rgba(0, 0, 0, 0.42);
    }
    @media screen and (min-width: 760px) and (min-height: 760px) {
        #learn-more .popin-container {
            font-size: 18px;
        }
    }
    @media screen and (max-aspect-ratio: 1) and (max-width: 760px) {
        #learn-more .popin-container {
            width: 100vw;
            max-width: none;
            height: 100vh;
            max-height: 100vh;
            border-radius: 0;
            font-size: 3vmin;
            overflow-y: auto;
        }
    }
    #learn-more .popin-container .dismiss {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 3em;
        height: 3em;
        background: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2225%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%20.295%2024%2024M24%20.295l-24%2024%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E)
            50%/50% no-repeat;
        position: absolute;
        top: 0;
        right: 0;
    }
    #learn-more .popin-container .dismiss:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    #learn-more .popin-container h4 {
        margin: 0;
        font-size: 1.33333em;
        font-weight: 700;
    }
    #learn-more .popin-container p {
        margin: 0;
    }
    #learn-more .popin-container .head {
        padding: 1.11111em 1.33333em;
    }
    #learn-more .popin-container .body {
        text-align: center;
        background: #fff;
        border-radius: 1em;
        flex-direction: column;
        align-items: center;
        padding: 1.11111em 1.33333em;
        display: flex;
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
    }
    #learn-more .popin-container .body > * {
        max-width: 100%;
    }
    @media screen and (max-width: 768px) {
        #learn-more .popin-container .body {
            border-radius: 0;
        }
    }
    #learn-more .popin-container .body h4 {
        margin: 0.5em auto;
        padding: 0 2em;
    }
    #learn-more .popin-container .body .phome-number {
        color: #f0ab00;
        font-size: 1.77778em;
        font-weight: 700;
        text-decoration: none;
    }
    #learn-more .popin-container .body .eliteservice-banner {
        letter-spacing: 0.2em;
        border: 1px solid;
        border-radius: 3px;
        padding: 0.5em 0.7em;
        font-size: 0.888889em;
        line-height: 1;
    }
    #learn-more .popin-container .body .token {
        width: 3.55556em;
        height: 3.55556em;
        -webkit-filter: drop-shadow(0.3em 0.3em 8px rgba(0, 0, 0, 0.1));
        -webkit-filter: drop-shadow(0.3em 0.3em 8px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0.3em 0.3em 8px rgba(0, 0, 0, 0.1));
        background: 50% / contain no-repeat;
        margin: 1em auto;
    }
    #learn-more .popin-container .body .token.callcenter {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2264%22%20height%3D%2265%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2232.001%22%20cy%3D%2232.295%22%20r%3D%2232%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M49.365%2029.956h-5.743a2.872%202.872%200%200%200-2.872%202.871v7.18a2.872%202.872%200%200%200%202.872%202.872h2.872a2.872%202.872%200%200%200%202.871-2.872m0-10.051v10.05m0-10.05a17.233%2017.233%200%200%200-17.374-17.23%2017.23%2017.23%200%200%200-17.356%2017.23m34.73%2010.05v4.308a5.744%205.744%200%200%201-5.743%205.744h-10.32M14.635%2029.956v10.05a2.871%202.871%200%200%200%202.872%202.873h2.872a2.872%202.872%200%200%200%202.871-2.872v-7.18a2.872%202.872%200%200%200-2.871-2.871h-5.744Z%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
    }
    #learn-more .popin-container .body .token.eliteservice-marker {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2264%22%20height%3D%2265%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2232.001%22%20cy%3D%2232.295%22%20r%3D%2232%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M39.177%2038.486c4.245.551%207.775%201.573%209.98%202.89%202.205%201.318%202.947%202.848%202.098%204.326-.849%201.478-3.235%202.813-6.747%203.773-3.513.96-7.931%201.486-12.493%201.487-4.563.002-8.984-.522-12.5-1.48-3.517-.96-5.909-2.293-6.764-3.77-.856-1.479-.12-3.009%202.079-4.327%202.199-1.318%205.723-2.342%209.967-2.895%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M36.951%2041.385c1.554.349%202.73.852%203.355%201.436.626.585.668%201.22.121%201.812-.547.593-1.654%201.113-3.16%201.483-1.506.371-3.332.573-5.211.577-1.88.004-3.713-.19-5.233-.555-1.52-.364-2.648-.879-3.218-1.47-.57-.59-.552-1.225.05-1.812.604-.587%201.76-1.095%203.3-1.45%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M43.06%2025.627a11.097%2011.097%200%200%201-2.114%205.664l-8.98%2012.293-8.87-12.238a11.096%2011.096%200%201%201%2019.964-5.719Z%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Ccircle%20cx%3D%2232.001%22%20cy%3D%2224.674%22%20r%3D%223.932%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
    }
    #learn-more .popin-container .body a {
        color: #1ebdff;
        text-decoration: underline;
    }
    #learn-more .popin-container .foot {
        flex-direction: column;
        align-items: center;
        padding: 1.11111em 1.33333em;
        display: flex;
    }
    #learn-more .popin-container .foot > * {
        max-width: 100%;
    }
    #learn-more .popin-container .foot .contact-us {
        width: 100%;
        justify-content: space-between;
        margin-top: 1em;
        display: flex;
    }
    #learn-more .popin-container .foot .contact-us h5 {
        margin: 0;
        font-size: 1em;
    }
    #learn-more .popin-container .foot .contact-us .launchpad {
        -webkit-filter: drop-shadow(0.3em 0.3em 8px rgba(0, 0, 0, 0.1));
        -webkit-filter: drop-shadow(0.3em 0.3em 8px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0.3em 0.3em 8px rgba(0, 0, 0, 0.1));
        display: flex;
    }
    #learn-more .popin-container .foot .contact-us .launchpad > * {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 2.66667em;
        height: 2.66667em;
        background: 50% / contain no-repeat;
    }
    #learn-more .popin-container .foot .contact-us .launchpad > :active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    #learn-more .popin-container .foot .contact-us .launchpad > :nth-child(n + 2) {
        margin-left: 1em;
    }
    #learn-more .popin-container .foot .contact-us .launchpad > .whatsapp {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2249%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m12.686%2041.55.785.389c3.27%201.946%206.932%202.854%2010.594%202.854%2011.51%200%2020.927-9.34%2020.927-20.757%200-5.449-2.224-10.768-6.148-14.66C34.921%205.486%2029.69%203.28%2024.065%203.28c-11.51%200-20.926%209.34-20.796%2020.887%200%203.892%201.178%207.654%203.14%2010.897l.523.779-2.093%207.654%207.847-1.946Z%22%20fill%3D%22%2300E676%22%2F%3E%3Cpath%20d%3D%22M41.068%207.3C36.621%202.76%2030.474.295%2024.196.295%2010.856.295.131%2011.063.262%2024.165c0%204.152%201.177%208.173%203.139%2011.806L0%2048.295l12.687-3.243c3.531%201.946%207.455%202.854%2011.378%202.854C37.275%2047.906%2048%2037.138%2048%2024.036c0-6.357-2.485-12.325-6.932-16.736ZM24.196%2043.884c-3.531%200-7.063-.908-10.07-2.724l-.785-.39-7.586%201.947%201.962-7.395-.524-.778C1.44%2025.333%204.185%2013.138%2013.603%207.43c9.416-5.708%2021.58-2.984%2027.334%206.357%205.755%209.34%203.009%2021.405-6.408%2027.113-3.009%201.946-6.67%202.984-10.333%202.984Zm11.51-14.4-1.439-.649s-2.093-.908-3.4-1.556c-.131%200-.262-.13-.393-.13-.392%200-.654.13-.915.26%200%200-.131.13-1.962%202.205a.72.72%200%200%201-.654.389h-.131c-.13%200-.392-.13-.523-.26l-.654-.259c-1.439-.649-2.747-1.427-3.793-2.465-.262-.26-.654-.519-.916-.778-.915-.908-1.83-1.946-2.485-3.114l-.13-.26c-.131-.129-.131-.259-.262-.518%200-.26%200-.519.13-.649%200%200%20.524-.648.916-1.037.262-.26.393-.65.654-.909.262-.389.393-.908.262-1.297-.13-.649-1.7-4.151-2.093-4.93-.261-.389-.523-.519-.915-.648h-1.439c-.261%200-.523.13-.785.13l-.13.13c-.262.129-.524.388-.785.518-.262.26-.393.519-.654.778-.916%201.168-1.439%202.595-1.439%204.022%200%201.038.262%202.076.654%202.984l.13.39c1.178%202.464%202.748%204.67%204.84%206.615l.523.52c.393.388.785.648%201.047%201.037%202.746%202.335%205.885%204.022%209.416%204.93.393.13.916.13%201.308.26h1.308c.654%200%201.439-.26%201.962-.52.392-.26.654-.26.916-.519l.261-.26c.262-.258.523-.388.785-.648s.523-.519.654-.778c.261-.519.392-1.168.523-1.816v-.908s-.13-.13-.392-.26Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
    }
    #learn-more .popin-container .foot .contact-us .launchpad > .vk {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2249%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.396.295h33.208A7.397%207.397%200%200%201%2048%207.69v33.207a7.397%207.397%200%200%201-7.396%207.397H7.396A7.397%207.397%200%200%201%200%2040.898V7.691A7.396%207.396%200%200%201%207.396.295Z%22%20fill%3D%22%234C75A3%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M23.597%2033.896h1.964s.593-.065.896-.391c.278-.3.27-.863.27-.863s-.039-2.634%201.184-3.022c1.205-.383%202.753%202.546%204.394%203.672%201.24.852%202.183.666%202.183.666l4.387-.062s2.295-.141%201.207-1.946c-.09-.147-.634-1.334-3.262-3.774-2.751-2.553-2.383-2.14.931-6.556%202.018-2.69%202.825-4.331%202.573-5.035-.24-.67-1.725-.493-1.725-.493l-4.94.031s-.366-.05-.637.112c-.266.16-.436.53-.436.53s-.782%202.081-1.824%203.852c-2.2%203.734-3.08%203.932-3.439%203.7-.836-.54-.627-2.171-.627-3.33%200-3.62.549-5.129-1.07-5.52-.536-.129-.932-.215-2.305-.229-1.762-.017-3.254.006-4.098.42-.562.275-.996.888-.732.923.327.044%201.066.2%201.458.733.506.689.489%202.235.489%202.235s.29%204.26-.68%204.79c-.665.363-1.579-.378-3.54-3.766-1.004-1.736-1.763-3.655-1.763-3.655s-.146-.358-.407-.55c-.316-.232-.759-.306-.759-.306l-4.693.03s-.705.02-.964.327c-.23.272-.018.836-.018.836s3.674%208.597%207.835%2012.93c3.816%203.972%208.148%203.711%208.148%203.711Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
    }
    #learn-more .popin-container .foot .contact-us .launchpad > .telegram {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2249%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M24%20.295A23.996%2023.996%200%200%200%207.031%207.326%2023.996%2023.996%200%200%200%2024%2048.295a24.009%2024.009%200%200%200%2024-24c0-6.36-2.531-12.473-7.031-16.973A24.008%2024.008%200%200%200%2024%20.295Z%22%20fill%3D%22url%28%27%23paint0_linear_981_66151%27%29%22%2F%3E%3Cpath%20d%3D%22M10.864%2024.04c6.997-3.049%2011.662-5.058%2013.995-6.03%206.667-2.771%208.05-3.255%208.955-3.27.198%200%20.64.045.93.278.24.198.307.465.34.648.03.188.072.612.038.945-.36%203.796-1.923%2013.005-2.718%2017.254-.334%201.8-.998%202.4-1.64%202.46-1.394.128-2.452-.922-3.802-1.807-2.11-1.384-3.303-2.246-5.355-3.596-2.37-1.56-.832-2.42.518-3.822.352-.367%206.495-5.951%206.611-6.457.015-.064.03-.3-.112-.424-.14-.124-.345-.082-.495-.049-.214.049-3.585%202.28-10.125%206.69-.957.657-1.823.979-2.603.96-.855-.018-2.505-.483-3.731-.881-1.5-.488-2.696-.746-2.591-1.579.052-.431.648-.873%201.785-1.327v.007Z%22%20fill%3D%22%23fff%22%2F%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22paint0_linear_981_66151%22%20x1%3D%2224%22%20y1%3D%22.295%22%20x2%3D%2224%22%20y2%3D%2248.295%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%232AABEE%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23229ED9%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E);
    }
    #learn-more .popin-container .foot .contact-us .launchpad > .msg {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2249%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M37.429.295H10.57C4.733.295%200%205.028%200%2010.866v26.858c0%205.838%204.733%2010.57%2010.571%2010.57H37.43c5.838%200%2010.571-4.732%2010.571-10.57V10.866C48%205.028%2043.267.295%2037.429.295Z%22%20fill%3D%22url%28%27%23paint0_linear_981_66154%27%29%22%2F%3E%3Cpath%20d%3D%22M24%208.605c-4.672%200-9.153%201.547-12.457%204.299-3.304%202.752-5.16%206.484-5.16%2010.376.004%202.531.794%205.019%202.294%207.22%201.5%202.203%203.658%204.044%206.264%205.346-.694%201.554-1.735%203.011-3.08%204.312%202.608-.458%205.057-1.42%207.155-2.811%201.618.4%203.296.605%204.984.608%204.673%200%209.154-1.547%2012.458-4.299%203.304-2.752%205.16-6.484%205.16-10.376%200-3.892-1.856-7.624-5.16-10.376C33.154%2010.152%2028.673%208.605%2024%208.605Z%22%20fill%3D%22%23fff%22%2F%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22paint0_linear_981_66154%22%20x1%3D%2224.381%22%20y1%3D%2245.109%22%20x2%3D%2224.381%22%20y2%3D%226.252%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%230CBD2A%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%235BF675%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E);
    }
    [data-content-marker]:not(.shown) {
        display: none !important;
    }
    .container-tabItem.activeTab.sticky {
        transition: opacity 0.5s, -webkit-transform 0.5s, -webkit-transform 0.5s, transform 0.5s;
    }
    .container-tabItem.activeTab.sticky.hidden {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    @media screen and (max-width: 768px) {
        body .widgetcontainer.hero.new-submenu__wrapper {
            padding: 0;
            border: unset !important;
            margin: unset !important;
            width: unset !important;
        }
    }

#monkey-app, [data-widget-type] {
    width: 100%;
    background: #f1f7fb;
    flex-direction: column;
    align-items: center;
    gap: 0;
    display: flex;
    overflow: hidden;
}
